---
---
@charset "utf-8";

$contentWidth: 40em;
$contentPadding: 48px;
$line-height: 36px;

@import 'syntax';

html {
	background: #fff;
	font-family: merriweather, georgia, serif;
	font-size: 18px;
	font-weight: 300;
	line-height: $line-height;
	color: #444;
}

body {
	margin: 0 auto;
	padding: 6px 0 60px;
	&:before {
		content: '';
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		border-top: 6px solid #e80c7a;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 300;
	line-height: 48px;
	text-align: center;
}

h1 {
	margin: 0 0 ($line-height * 2);
	font-size: 36px;
}

h2 {
	margin: ($line-height * 3) 0 $line-height;
}

h3 {
	margin: ($line-height * 3) 0 $line-height;
}

p {
	max-width: $contentWidth;
	margin: 0 auto $line-height;
	padding: 0 $contentPadding;
}

ol, ul {
	max-width: $contentWidth;
	margin: 0 auto $line-height;
	padding: 0 $contentPadding 0 $contentPadding + 48;
}

hr {
	margin: $line-height auto ($line-height * 3);
	border: 0;
	border-bottom: 1px dashed #ccc;
}

a {
	color: #444;
	-webkit-transition: color .2s ease-in-out;
	-mox-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
	&:hover {
		color: #e80c7a;
	}
}

code {
	font-family: 'bitstream vera sans mono', menlo, monospace;
}

pre {
	margin: 0;
	white-space: pre;
}

.highlight {
	overflow: auto;
	position: relative;
	margin: $line-height 0;
	padding: 18px 0;
	background: #f9f9f9;

	pre {
		position: relative;
		max-width: $contentWidth;
		margin: 0 auto;
		padding: 0 $contentPadding;

		&:before {
			content: '{';
			position: absolute;
			top: -6px;
			left: 0;
			color: #eee;
			font-size: 48px;
			font-family: 'bitstream vera sans mono', menlo, monospace;
			line-height: 48px;
		}
	}
}

blockquote {
	position: relative;
	margin: $line-height 0;
	padding: ($line-height / 2) 0;
	background: #fff;
	font-style: italic;
	&:before {
		content: '"';
		position: absolute;
		top: 6px;
		left: 6px;
		color: #eee;
		font-size: 72px;
		font-family: 'georgia', 'times new roman', 'times', serif;
		line-height: 72px;
	}
	p {
		margin: 18px 0 0;
		&:first-child {
			margin-top: 0;
		}
	}
}

.index, .post {
	margin-top: $line-height * 3;
}

.meta {
	margin: ($line-height * 3) auto 0;
	font-size: 12px;
	font-style: italic;
	text-align: center;

	+ h2, + h3, + blockquote {
		margin-top: 0;
	}
}
