---
---
@charset 'utf-8';

$color-accent: #e80c7a;
$color-base: #666;
$easing: cubic-bezier(0, 1, .5, 1);
$line-height: 30px;
$content-padding: 36px;
$content-width: 40em;

@import 'animations';
@import 'btn';
@import 'logotype';
@import 'main-header';
@import 'masthead';
@import 'posts';
@import 'section-header';
@import 'syntax';

html {
	box-sizing: border-box;
	min-height: 100%;
	background: #fff;
	font-family: merriweather, georgia, serif;
	font-size: 14px;
	font-weight: 300;
	line-height: $line-height;
	color: $color-base;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	min-height: 100%;
	margin: 0 auto ($line-height * 2);
	padding: 0;
}

.wrap {
	max-width: $content-width;
	margin: 0 auto;
	padding: 0 $content-padding;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0 $content-padding;
	font-weight: 300;
	text-align: center;
}

h1 {
	margin: 0 0 ($line-height * 2);
	font-size: 22px;
}

h2 {
	margin: ($line-height * 2) 0 $line-height;
	font-size: 20px;
}

h3 {
	margin: ($line-height * 2) 0 $line-height;
	font-size: 18px;
}

p {
	max-width: $content-width;
	margin: 0 auto $line-height;
	padding: 0 $content-padding;
}

ol, ul {
	max-width: $content-width;
	margin: 0 auto $line-height;
	padding: 0 $content-padding 0 ($content-padding * 1.5);
}

hr {
	margin: $line-height auto ($line-height * 2);
	border: 0;
	border-bottom: 1px dashed #ccc;
}

a {
	position: relative;
	color: $color-base;
	-webkit-transition: color .4s $easing;
	-mox-transition: color .4s $easing;
	-ms-transition: color .4s $easing;
	-o-transition: color .4s $easing;
	transition: color .4s $easing;

	&:hover {
		color: #e80c7a;
	}
}

code {
	font-family: 'bitstream vera sans mono', menlo, monospace;
}

pre {
	overflow: visible;
	margin: 0;
	white-space: pre;
}

.highlight {
	overflow: auto;
	position: relative;
	margin: $line-height 0;
	padding: ($line-height / 2) 0;
	background: #f9f9f9;

	pre {
		position: relative;
		max-width: $content-width;
		margin: 0 auto;
		padding: 0 $content-padding;

		&:before {
			content: '{';
			position: absolute;
			top: -9px;
			left: 0;
			color: #eee;
			font-size: 48px;
			font-family: 'bitstream vera sans mono', menlo, monospace;
			line-height: 48px;
		}
	}
}

blockquote {
	position: relative;
	margin: $line-height 0;
	padding: ($line-height / 2) 0;
	background: #f9f9f9;
	font-style: italic;

	> p {
		max-width: $content-width;
		margin: 18px auto 0;

		&:first-child {
			position: relative;
			margin-top: 0;

			&:before {
				content: '“';
				position: absolute;
				top: -2px;
				left: 6px;
				color: #eee;
				font-size: 48px;
				line-height: 48px;
			}
		}
	}
}

.index, .post {
	margin-top: $line-height * 4;

	.masthead + & {
		margin-top: $line-height * 2;
	}
}

.meta {
	margin: ($line-height * 2) auto 0;
	color: #aaa;
	font-size: 10px;
	font-style: italic;
	text-align: center;

	+ h2, + h3, + blockquote {
		margin-top: 0;
	}
}
