---
---
@charset "utf-8";

$easing: cubic-bezier(0, 1, .5, 1);
$contentWidth: 40em;
$contentPadding: 48px;
$line-height: 36px;

@import 'animations';
@import 'masthead';
@import 'section-header';
@import 'syntax';

html {
	background: #fff;
	font-family: merriweather, georgia, serif;
	font-size: 18px;
	font-weight: 300;
	line-height: $line-height;
	color: #444;
}

body {
	margin: 0 auto;
	padding: 6px 0 60px;
	&:before {
		content: '';
		position: fixed;
		z-index: 4;
		top: 0;
		left: 0;
		width: 100%;
		border-top: 6px solid #e80c7a;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 300;
	line-height: 48px;
	text-align: center;
}

h1 {
	margin: 0 0 ($line-height * 2);
	font-size: 36px;
}

h2 {
	margin: ($line-height * 3) 0 $line-height;
}

h3 {
	margin: ($line-height * 3) 0 $line-height;
}

p {
	max-width: $contentWidth;
	margin: 0 auto $line-height;
	padding: 0 $contentPadding;
}

ol, ul {
	max-width: $contentWidth;
	margin: 0 auto $line-height;
	padding: 0 $contentPadding 0 $contentPadding + 48;
}

hr {
	margin: $line-height auto ($line-height * 3);
	border: 0;
	border-bottom: 1px dashed #ccc;
}

a {
	position: relative;
	color: #444;
	text-decoration: none;
	-webkit-transition: color .4s $easing;
	-mox-transition: color .4s $easing;
	-ms-transition: color .4s $easing;
	-o-transition: color .4s $easing;
	transition: color .4s $easing;

	&:before {
		content: '';
		position: absolute;
		left: -2px;
		right: -2px;
		bottom: 2px;
		height: 1px;
		background: #444;
		-webkit-transition: transform .4s $easing;
		-mox-transition: transform .4s $easing;
		-ms-transition: transform .4s $easing;
		-o-transition: transform .4s $easing;
		transition: transform .4s $easing;
	}

	&:hover {
		color: #e80c7a;

		&:before {
			transform: translateY(2px);
		}
	}
}

code {
	font-family: 'bitstream vera sans mono', menlo, monospace;
}

pre {
	overflow: visible;
	margin: 0;
	white-space: pre;
}

.highlight {
	overflow: auto;
	position: relative;
	margin: $line-height 0;
	padding: 18px 0;
	background: #f9f9f9;

	pre {
		position: relative;
		max-width: $contentWidth;
		margin: 0 auto;
		padding: 0 $contentPadding;

		&:before {
			content: '{';
			position: absolute;
			top: -6px;
			left: 0;
			color: #eee;
			font-size: 48px;
			font-family: 'bitstream vera sans mono', menlo, monospace;
			line-height: 48px;
		}
	}
}

blockquote {
	position: relative;
	margin: $line-height 0;
	padding: ($line-height / 2) 0;
	background: #f9f9f9;
	font-style: italic;

	> p {
		max-width: $contentWidth;
		margin: 18px auto 0;

		&:first-child {
			position: relative;
			margin-top: 0;

			&:before {
				content: '“';
				position: absolute;
				top: -6px;
				left: 0;
				color: #eee;
				font-size: 72px;
				line-height: 72px;
			}
		}
	}
}

.index, .post {
	margin-top: $line-height * 3;
}

.meta {
	margin: ($line-height * 3) auto 0;
	font-size: 12px;
	font-style: italic;
	text-align: center;

	+ h2, + h3, + blockquote {
		margin-top: 0;
	}
}
