---
layout: default
---

<section class="masthead" data-parallax>
	<figure class="masthead-bg" style="background-image:url(/img/masthead-1.jpg);" data-parallax-bg></figure>
	<div class="masthead-content" data-parallax-fg>
		<h1>Hi there, I'm Chiel.</h1>
	</div>
</section>

<section class="index">
	{% capture about %}{% include about.md %}{% endcapture %}
	{{ about | markdownify }}

	<h2>Journal</h2>
	<ul class="posts">
		{% for post in site.posts %}
			<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
</section>
