.btn-wrap {
	text-align: center;
}

.btn {
	display: inline-block;
	margin: 0 auto;
	padding: 0 24px;
	border: 1px solid #e80c7a;
	border-radius: 2px;
	background: #fff;
	color: #e80c7a;
	font: 400 10px open sans, sans-serif;
	line-height: 28px;
	letter-spacing: .1em;
	-webkit-transition: background-color .4s $easing, color .4s $easing;
	-mox-transition: background-color .4s $easing, color .4s $easing;
	-ms-transition: background-color .4s $easing, color .4s $easing;
	-o-transition: background-color .4s $easing, color .4s $easing;
	transition: background-color .4s $easing, color .4s $easing;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background: #e80c7a;
		color: #fff;
	}

	@media (min-width: $bp){
		overflow: hidden;
		height: 36px;
		margin-bottom: -10px;
		border-width: 2px;
		font-size: 12px;
		line-height: 34px;
	}
}
